<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Supplier</title>
    </head>
    <body>
        <div class="supplier-card">
            <h1>Supplier Name n° {{ app.request.attributes.get('id')}}</h1>
        </div>
    </body>
</html>
